
/* Your CSS Code here. */
.holder {display: grid;
    /* Set the grid to have 2 rows and 2 columns */
grid-template-rows: repeat(2, 200px);
    grid-template-columns: repeat(2, 200px);
    /* Set the total width and height of the grid to 200px */
    width: 200px;
    height: 200px;}